@charset "UTF-8";

        body{
            background-color: rgb(129, 141, 118);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }

        h1{
           color: rgb(0, 0, 0);
           background-color: aquamarine;

        }

        h2{
           color: beige;
           

        }

        p{
text-align: justify;

        }